html, body {
    margin-top: 0px;
    margin-left: 0px;
}

.title-banner {
    background: #a0a0a0;
    border-style: solid;
    border-width: thin;
    border-color: #666666;
    position: fixed;
    top: 0;
    height: 105px;
    width: 100%;
    padding: 5px;
    margin-right: 30px;
}

.nav-menu {
    background: #a0a0a0;
    border-style: solid;
    border-width: thin;
    border-color: #666666;
    position: fixed;
    left: 0;
    width: 180px;
    height: 100%;
    float: left;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 0px;
}

.error-banner {
    padding: 0px;
    width: 75%;
    height: 180px;
    border-style: solid;
    position: fixed;
    bottom: 0;
    right: 0;
    float: right;
    margin-bottom: 5px;
    visibility: hidden;
}

.title {
    margin-top: 15%;
}

.content {
    margin-left: 200px;
    margin-top: 125px;
}
