<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Test01.master.cs" Inherits="Test01.Test01" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="Stylesheets" runat="server">
        <link rel="stylesheet" type="text/css" href="\CSS\main.css" runat="server" />
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div class="title-banner">
        <h2>Title Banner</h2>
    </div>
    <div class="nav-menu">
        <a href="https://www.google.com">Google</a>
        <p>another Link</p>
        <p>another Link</p>
        <p>another Link</p>
    </div>
    <div class="error-banner">
        <h2 style="color: red;">Error Banner</h2>
    </div>
    <form id="form1" runat="server">
        <div class="content">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
